/**
 * Section title display sizing.
 */
$title-size: 16px;

/**
 * The 'UI Layout' page allows the user to modify the application UI to their needs, with
 * the included editable options being:
 *
 *  - Clock display
 *  - Calendar display
 *  - Search bar display
 *
 * And many other components. Most of these components can be scaled, and all of them
 * can be panned around on the canvas to wherever the user wants.
 */
main.component-ui-layout {
  flex-direction: column;
  height: fit-content;
  display: flex;
  width: 100%;

  /**
   * Options section title display.
   */
  span.ui-layout-title {
    padding-bottom: $title-size;
    line-height: $title-size;
    font-size: $title-size;
    height: $title-size;
    font-weight: 500;
    display: block;
  }

  /**
   * Buttons parent wrapper to allow both to sit side by side.
   */
  section.ui-layout-buttons {
    box-sizing: border-box;
    flex-direction: row;
    margin-bottom: 16px;
    display: flex;
    height: 28px;
    width: 100%;

    /**
     * Reset & edit buttons.
     */
    button.buttons-edit, button.buttons-reset {
      margin-right: 8px;
      height: 100%;
      flex: 1;

      &:last-of-type { margin-right: unset }
    }
  }
}