main.component-init {
  overflow: hidden;
  width: 896px;

  span.init-title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 20px;
    display: block;
  }

  span.init-warning {
    margin-bottom: 32px;
    text-align: center;
    display: block;
    opacity: 80%;
  }

  div.init-display, div.init-theme, div.init-clock {
    margin-bottom: 24px;
    flex-direction: row;
    display: flex;
    width: 100%;

    &:last-of-type { margin-bottom: 8px }

    div.display-fit, div.display-fill, div.display-stretch,
    div.theme-light, div.theme-dark, div.theme-system {
      flex: 1;
    }
  }
}

span.disabled { color: gray }