/**
 * The canvas component acts as the orchestrator to all scaleable components, where
 * it handles all the event handling, scaling, dragging and other things related to
 * draggable items.
 */
main.component-canvas {
  box-sizing: border-box;
  position: relative;
  padding: 16px;
  height: 100%;
  width: 100%;
}