/**
 * Modal centerer component. We don't actually have any of the typical modal stylings
 * for content parent wrappers, because we let the inheriting component worry about
 * that part for modulairty.
 */
main.component-modal {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  display: flex;
  height: 100%;
  width: 100%;
}