$POSITION_COMPONENT_SIZE: 160px;

section.component-init-clock {
  flex-direction: column;
  height: fit-content;
  padding-top: 16px;
  display: flex;
  width: 100%;

  div.component-init-upper {
    flex-direction: row;
    margin-bottom: 8px;
    display: flex;

    div.upper-right, div.upper-left { flex: 1 }

    div.upper-right {

      span.right-title {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 18px;
        display: block;
      }
    
      div.right-convention {
        flex-direction: row;
        margin-bottom: 16px;
        display: flex;
        width: 100%;
    
        div.convention-european, div.convention-american { flex: 1 }
      }

      div.right-delimiter {
        flex-direction: row;
        margin-bottom: 16px;
        display: flex;
        width: 100%;

        div.delimiter-space, div.delimiter-comma, div.delimiter-slash,
        div.delimiter-dash, div.delimiter-dot { flex: 1 }
      }
    }

    div.upper-left {
      justify-content: center;
      flex-direction: column;
      align-items: center;
      position: relative;
      display: flex;

      span.left-title {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 18px;
      }

      div.left-parent {
        height: $POSITION_COMPONENT_SIZE;
        width: $POSITION_COMPONENT_SIZE;
        flex-direction: row;
        display: flex;

        div.parent-left, div.parent-right, div.parent-middle {
          flex-direction: column;
          display: flex;
          height: 100%;
          flex: 1;

          div.column-cell {
            justify-content: center;
            align-items: center;
            display: flex;
            flex: 1;
          }
        }
      }
    }
  }

  div.component-init-lower {
    flex-direction: row;
    display: flex;

    div.lower-right, div.lower-left { flex: 1 }

    div.lower-right {

      span.right-title {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 18px;
        display: block;
      }

      div.right-size {
        flex-direction: row;
        margin-bottom: 16px;
        display: flex;

        div.size-none, div.size-small,
        div.size-medium, div.size-large {
          flex: 1;
        }
      }

      div.right-format {
        flex-direction: column;
        padding-left: 2px;
        display: flex;

        div.format-upper {
          background: lightgray;
          flex-direction: row;
          border-radius: 4px;
          margin-bottom: 8px;
          display: flex;

          ul.upper-group {
            flex-direction: row;
            margin: unset;
            display: flex;
            height: 26px;
            padding: 4px;
            flex: 1;

            li.group-item {
              border: 1px solid dimgray;
              background: whitesmoke;
              border-radius: 2px;
              text-align: center;
              line-height: 24px;
              margin-right: 4px;
              padding: 0 12px;
              display: block;
              color: black;
              height: 24px;
              cursor: grab;

              &:last-of-type { margin-right: unset }

              &.dragging { opacity: 75% }
            }
          }

          div.upper-buttons {
            padding: 4px;

            button.buttons-add, button.buttons-remove {
              text-align: center;
              line-height: 26px;
              height: 26px;
              width: 26px;

              &.buttons-remove { margin-right: 4px }
            }
          }
        }

        div.format-lower {
          background: lightgray;
          border-radius: 4px;
          margin-bottom: 8px;

          ul.lower-group {
            flex-direction: row;
            margin: unset;
            display: flex;
            height: 26px;
            padding: 4px;

            li.group-item {
              border: 1px solid dimgray;
              background: whitesmoke;
              border-radius: 2px;
              text-align: center;
              line-height: 24px;
              margin-right: 4px;
              padding: 0 12px;
              display: block;
              color: black;
              height: 24px;
              cursor: grab;

              &:last-of-type { margin-right: unset }

              &.dragging { opacity: 75% }
            }
          }
        }
      }
    }

    div.lower-left {
      
      span.left-title {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 18px;
        display: block;
      }

      div.left-size {
        flex-direction: row;
        margin-bottom: 16px;
        display: flex;

        div.size-none, div.size-small,
        div.size-medium, div.size-large {
          flex: 1;
        }
      }

      div.left-format {
        flex-direction: column;
        padding-right: 2px;
        display: flex;

        div.format-upper {
          background: lightgray;
          flex-direction: row;
          border-radius: 4px;
          margin-bottom: 8px;
          display: flex;

          ul.upper-group {
            flex-direction: row;
            margin: unset;
            display: flex;
            height: 26px;
            padding: 4px;
            flex: 1;

            li.group-item {
              border: 1px solid dimgray;
              background: whitesmoke;
              border-radius: 2px;
              text-align: center;
              line-height: 24px;
              margin-right: 4px;
              padding: 0 12px;
              display: block;
              color: black;
              height: 24px;
              cursor: grab;

              &:last-of-type { margin-right: unset }

              &.dragging { opacity: 75% }
            }
          }

          div.upper-buttons {
            padding: 4px;

            button.buttons-add, button.buttons-remove {
              text-align: center;
              line-height: 26px;
              height: 26px;
              width: 26px;

              &.buttons-remove { margin-right: 4px }
            }
          }
        }

        div.format-lower {
          background: lightgray;
          border-radius: 4px;
          margin-bottom: 8px;

          ul.lower-group {
            flex-direction: row;
            margin: unset;
            display: flex;
            height: 26px;
            padding: 4px;

            li.group-item {
              border: 1px solid dimgray;
              background: whitesmoke;
              border-radius: 2px;
              text-align: center;
              line-height: 24px;
              margin-right: 4px;
              padding: 0 12px;
              display: block;
              color: black;
              height: 24px;
              cursor: grab;

              &:last-of-type { margin-right: unset }

              &.dragging { opacity: 75% }
            }
          }
        }
      }
    }
  }
}

span, label {
  &.disabled {
    cursor: not-allowed;
    color: gray;
  }
}