/** 
 * The "categories" component acts as a page navigation bar within the
 * settings component, which transforms based on overall component state,
 * and has a neat glass-morphic background.
 */
main.component-categories {
  box-sizing: border-box;
  background: white;
  padding: 4px;
  width: 228px;
}