main.component-background {
  position: absolute;
  overflow: hidden;
  z-index: -100;
  height: 100%;
  width: 100%;

  img.background-image {
    transition-timing-function: ease-in-out;
    transition: width 0.12s, height 0.12s;
    object-position: center;
    object-fit: contain;
    height: 100%;
    width: 100%;
    opacity: 0;

    &.stretch { object-fit: fill }
    &.fill { object-fit: cover }
  }
}

div.background-copyright {
  position: absolute;
  color: var(--bg);
  padding: 16px;
  bottom: 0;
  right: 0;

  span.copyright-description, span.copyright-holder {
    text-align: right;
    display: block;
    width: 100%;
  }

  span.copyright-description { margin-bottom: 4px }
}