/**
 * Section title display sizing.
 */
$title-size: 16px;

/**
 * Category option label display size.
 */
$label-size: 14px;

/**
 * The "Time Display" option controls how the clock component is rendered,
 * with a fully customizable formatting system.
 */
main.component-time-display {
  flex-direction: column;
  height: fit-content;
  display: flex;
  width: 100%;

  /**
   * Options section title display.
   */
  span.time-display-title {
    padding-bottom: $title-size;
    line-height: $title-size;
    font-size: $title-size;
    height: $title-size;
    font-weight: 500;
    display: block;
  }

  /**
   * Clock example display section.
   */
  section.time-display-example {
    flex-direction: column;
    margin-bottom: 16px;
    width: fit-content;
    display: flex;

    /**
     * Example clock actual display.
     */
    span.example-display {
      text-shadow: var(--color) 0px 0px 4px;
      color: var(--bg);
      font-size: 48px;
      display: block;
    }
  }

  /**
   * Format draggable rails parent wrapper.
   */
  section.time-display-format {
    flex-direction: column;
    display: flex;

    /**
     * Upper format rail wrapper.
     */
    div.format-upper, div.format-lower {
      background: var(--accent);
      border-radius: 4px;
      margin-bottom: 8px;
      padding: 4px;

      &.format-lower { margin-bottom: unset }

      /**
       * Vertical aligner for the format rail.
       */
      div.upper-group, div.lower-group {
        flex-direction: row;
        display: flex;

        /**
         * Individual format item.
         */
        li.group-item {
          border: 1px solid dimgray;
          background: whitesmoke;
          width: fit-content;
          border-radius: 2px;
          text-align: center;
          line-height: 24px;
          margin-right: 4px;
          min-height: 24px;
          padding: 0 12px;
          display: block;
          color: black;
          cursor: grab;
          height: fit-content;

          &:last-of-type { margin-right: unset }

          &.dragging { opacity: 75% }
        }
      }
    }
  }
}