/**
 * The clock component renders the current moment in time in a format
 * selected by the user in an efficient manner.
 */
main.component-clock {
  align-items: center;
  color: transparent;
  resize: both;
  height: 100%;
  width: 100%;

  /**
   * Actual clock state renderer.
   */
  span.clock-time {
    transition: text-shadow 0.12s, color 0.12s linear;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    height: fit-content;
    width: fit-content;
    position: relative;
    line-height: 62px;
    font-size: 62px;
    display: block;
    left: 50%;
    top: 50%;

    /**
     * Without this class, the clock renderer is completely transparent
     * making it invisible.
     */
    &.revealed {
      text-shadow: var(--color) 0px 0px 4px;
      color: var(--bg);
    }
  }
}