main.component-clock {
  align-items: center;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  display: flex;

  span.clock-time {
    text-shadow: var(--color) 0px 0px 4px;
    color: var(--bg);
    font-size: 62px;
    display: block;
  }
}