@use "sass:math";

/**
 * Titlebar & title display sizing style.
 */
$title-size: 48px;

/**
 * Overall component padding.
 */
$component-padding: 32px;

/**
 * The appearance settings page is a mostly non-critical section which controls many of the
 * visual styles of the application. For now, we only allow switching the app theme & background fit.
 */
main.component-appearance {
  flex-direction: column;
  padding: $component-padding - 4px;
  display: flex;

  /**
   * If we were to ever support mobile, we would have the infrastructure ready for mobile navigation
   * controls for the settings view.
   */
  section.appearance-bar {
    flex-direction: row;
    height: $title-size;
    display: flex;
    width: 100%;

    /**
     * Appearance bar title element.
     */
    span.bar-title {
      font-size: math.div($title-size, 2);
      line-height: $title-size;
      height: $title-size;
      font-weight: 700;
      display: block;
      flex: 1;
    }
  }

  /**
   * Appearance page content wrapper where all the sections will be passed into.
   */
  section.appearance-content {
    padding-top: $component-padding;
    flex-direction: column;
    height: fit-content;
    display: flex;
    width: 100%;

    /**
     * Content "item", or section dividing box so we can correctly pad all page sections correctly.
     */
    div.content-item {
      padding-top: math.div($component-padding, 2);

      &:first-of-type { padding-top: unset }
    }
  }
}